.all-button {
    width: 200px;
    height: 80px;
    background-color: rgb(60, 60, 60);
    color: white;
    font-size: 30px;
    border-width: 3px;
    border-color: rgb(30, 30, 30);
    border-radius: 10px;
    transition-duration: 0s;
}

.all-button:active {
    background-color: rgb(40, 40, 40);
}

.all-button:hover {
    background-color: rgb(100, 100, 100);
}
